@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
body {
    margin: auto;
    background: rgb(249,245,237);
}
button {
    background: rgb(230,80,55);
    color: rgb(242,242,242);
    border: 0px;
    border-radius: 20px;
    height: 35px;
    font-size: 21px;
    font-weight: 600;
    margin: 0px 5px 0px 5px;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-timing-function: ease;
}
.float {
    box-shadow: 3px 3px 2px rgba(35,35,35,.15);
}

.text-large {
    font-size: 28px;
    font-weight: 600;
}
.text-medium {
    font-size: 18px;
    font-weight: 200;
}
.text-small {
    font-size: 10px;
    font-weight: 200;
}
#main-wrapper {
    background: rgb(249,245,237);
    background: url('././public/topo-background.png');
    background-size: contain;
}
#header {
    height: 65px;
    background-color: rgb(230,80,55);
    color: rgb(242,242,242);
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    box-shadow: 0px 3px 3px rgba(35,35,35,.25);
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#header-text {
    height: auto;
    margin: 7.5px auto 7.5px auto;
    line-height: 150%;
}
#model-viewer {
    height: 650px;
    margin: 10px;
}
#buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 0px 10px 0px;
}
#back {
    grid-column: 0 / 1;
}
#next {
    grid-column: 2 / 3;
}
#footer {
    height: 80px;
    background-color: rgb(230,80,55);
    font-size: 10px;
    color: rgb(242,242,242);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    box-shadow: 0px -3px 3px rgba(35,35,35,.25);
}
#footer-text {
    padding: 5px;
}